<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">

    <title>Victoria's Assignment</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Bootcards CSS files for desktop, iOS and Android -->
    <!-- You'll only need to load one of these (depending on the device you're using) in production -->
    <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.1/css/bootcards-ios.min.css" rel="stylesheet"> -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.1/css/bootcards-desktop.min.css" rel="stylesheet">
    <!--<link href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.1/css/bootcards-android.min.css" rel="stylesheet">-->

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="app/css/awesome.css">
    <link rel="stylesheet" href="app/css/general.css">
</head>

<body ng-app="agentApp" ng-controller="agentList">

<!-- fixed top navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" >
        <a  title="Victoria's Assignment" href="/telemagic"><h2 class="text-center" >Victoria's Assignment</h2></a>
    </div>
</div>

<div class="container bootcards-container push-right" >

    <!-- This is where you come in... -->
    <!-- I've added some sample data below so you can get a feel for the required markup -->

    <div class="row">

        <!-- left list column -->
        <div class="col-sm-4 bootcards-list" id="list" data-title="Agents">
            <div class="panel panel-default" >
                <div class="panel-body">
                    <div class="search-form">

                        <div class="row" >
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="searchName" ng-model="searchName" placeholder="Search Agents By Full Name...">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                            <div class="col-xs-4">

                                <a class="btn btn-primary btn-block pull-right hidden-xs" href="#" ng-click="selectByName()" >
                                    <span>Go!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!--panel body-->

                <div class="list-group">

                    <!-- list of sample data -->

                    <a class="list-group-item{{ (selected.agentId==item.agentId ? ' active' : '') }}" ng-repeat="item in data" href="#" ng-click="select(item)">
                        <img src="https://placehold.it/120x120" class="img-rounded pull-left" alt="Thumbnail Image">
                        <h4 class="list-group-item-heading">{{ item.username }}</h4>
                        <p class="list-group-item-text">agentId: {{ item.agentId }}</p>

                    </a>


                </div><!--list-group-->

            </div><!--panel-->

        </div ><!--list-->

        <!--list details column-->
        <div class="col-sm-8 bootcards-cards hidden-xs" >

            <!--contact details -->
            <div id="contactCard" style="height: 100%;">

                <div class="panel panel-default" >
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">Agent Details</h3>
                        <div class="btn-group pull-right visible-xs">
                            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#editModal">
                                <i class="fa fa-pencil"></i><span>Edit</span>
                            </a>
                        </div>
                        <a class="btn btn-primary pull-right hidden-xs" href="#" data-toggle="modal" data-target="#editModal">
                            <i class="fa fa-pencil"></i><span>Edit</span>
                        </a>
                    </div>

                    <div class="list-group">
                        <div class="row">
                        <div class="col-sm-3" style="padding: 10px 20px 10px 30px; ">
                            <img src="https://placehold.it/120x120" style="width:130px;height: 130px;" class="img-rounded pull-left" alt="Thumbnail Image">
                        </div>
                        <div class="col-sm-9">

                            <div class="list-group-item" >

                            <label>Name</label>
                            <h4 class="list-group-item-heading" >{{ selected.firstName +  '&nbsp;'  + selected.lastName}}</h4>

                        </div>

                            <div class="list-group-item">
                                <label>Agent Id</label>
                                <h4 class="list-group-item-heading">{{ selected.agentId }}</h4>
                            </div>
                        </div>



                        </div>


                        <div class="list-group-item">
                            <label>Address</label>
                            <h4 class="list-group-item-heading">{{ selected.city + (selected.city.length > 0 ? ', ' : '&nbsp;') + selected.address }}</h4>
                        </div>
                        <a class="list-group-item" href="tel://{{ selected.phoneNumber }}">
                            <label>Phone</label>
                            <h4 class="list-group-item-heading">{{ (selected.phoneNumber?selected.phoneNumber:'&nbsp;') }}</h4>
                        </a>

                        <a class="list-group-item" href="SIP:{{ selected.sipUser }}@{{ selected.sipHost}}">
                            <label>SIP: </label>
                            <h4 class="list-group-item-heading">{{ selected.sipUser }}@{{ selected.sipHost}}</h4>
                        </a>
                        <div class="list-group-item">
                            <label>Roles</label>

                            <ul class="list-group-item-heading">
                                <span > {{ selected.roles.join(', ') }}</span>
                            </ul>
                        </div>
                        <div class="list-group-item">
                            <label>Permissions</label>


                            <div class="well" style="max-height: 300px;overflow: auto;">
                                <div class="checkbox checkbox-success checkbox-inline" ng-repeat="(key, val) in selected.permissions">
                                    <input type="checkbox" class="styled" id="{{ key }}" value="option1" ng-checked="val" onclick="checkHandler(event)">
                                    <label for="{{ key }}"> {{ key }}</label>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div><!--contact card-->


        </div><!--list-details-->

    </div><!--row-->



</div><!--container-->

<!-- fixed tabbed footer -->
<div class="navbar navbar-default navbar-fixed-bottom">

    <div class="container">

        <div class="bootcards-desktop-footer clearfix">
            <p class="pull-left">&nbsp;</p>
        </div>

        <div class="btn-group">
            <a href="mailto:victoria@ulvang.info" class="btn btn-default active">
                <i class="fa fa-3x fa-mail"></i>victoria@ulvang.info
            </a>
        </div>
    </div>

</div><!--footer-->

<!--edit contact modal-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="form-horizontal" method="POST" action="" data-pjax="#main">

                <div class="modal-header">

                    <div class="btn-group pull-left">
                        <button class="btn btn-danger" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>

                    <div class="btn-group pull-right">
                        <button class="btn btn-success" data-dismiss="modal">
                            <i class="fa fa-check"></i>Save
                        </button>
                    </div>

                    <h4 class="modal-title">
                        Edit Contact
                    </h4>
                </div>

                <div class="modal-body"><!-- Modal -->
                    <input type="hidden" name="agentId" value="{{ selected.agentId }}">
                    <input type="hidden" name="_method" value="put">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">First Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="firstName" class="form-control" placeholder="First Name"
                                   ng-model="selected.firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Last Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="lastName" class="form-control" placeholder="Last Name"
                                   value="{{ selected.lastName }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">City</label>
                        <div class="col-xs-8">
                            <input type="text" name="city" class="form-control" placeholder="City"
                                   ng-model="selected.city">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Address</label>
                        <div class="col-xs-8">
                            <input type="text" name="address" class="form-control"
                                   placeholder="Address" ng-model="selected.address"
                                   >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Phone</label>
                        <div class="col-xs-8">
                            <input type="email" name="phoneNumber" class="form-control" placeholder="Phone Number"
                                   ng-model="selected.phoneNumber" >
                        </div>
                    </div>

                </div><!-- Modal -->
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-block"
                        onclick=" return false;">
                    <i class="fa fa-trash-o"></i>
                    Delete Contact
                </button>
            </div>

        </div><!--modal-content-->
    </div>
</div><!--modal-->


<!-- ------------------------------------------------- -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="lib/angular/angular.min.js" ></script>
<script src="app/app.js" ></script>
<script src="app/js/controller/AgentList.js" ></script>
<script src="app/js/service/AgentData.js" ></script>


<script type="text/javascript">
    function checkHandler(event){
        event.preventDefault();
        event.stopPropagation();

        return false;
    }
</script>
</body>
</html>