
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

.panel {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100%;
}

.bootcards-cards {
    background-color: #cecece;
    padding: 20px;
}

.bootcards-list{
    background-color: #cecece;
    padding: 20px;
}
